<div class="comment-section">
    <h3 class="section-header flex-container flex-space-between">
        <span>
            {{title}}
        </span>
        <button class="tertiary-button material-symbols-outlined" aria-label="Add Comment" (click)="isAddComment = true">
            add_circle
        </button>
    </h3>
    <div class="comment-card-list">
        <app-comment-card *ngIf="isAddComment" (cancelCreate)="isAddComment = false"></app-comment-card>
        <app-comment-card *ngFor="let comment of comments" [comment]="comment"></app-comment-card>
    </div>
</div>