
<div [id]="elementId" class="comment-card" tabIndex="-1" (click)="onClick()">
    <ng-container *ngIf="!!comment; else commentData">
        <div class="comment">
            <div class="flex-container">
                <span class="secondary-text font-weight-semibold">{{comment.username}}</span>
                <span class="secondary-text font-weight-normal">{{comment.date}}</span>
            </div>
            <p>{{comment.message}}</p>
            <div class="flex-container">
                <button *ngIf="!isReplyEnabled" class="secondary-button inline-icon" (click)="onReply()">
                    <span class="material-symbols-outlined">
                        reply
                    </span>
                    <span>
                        Reply
                    </span>
                </button>
            </div>
        </div>
        <div class="comment left-padding" *ngIf="isReplyEnabled">
            <input type="text" placeholder="Reply to comment..." class="text-input" aria-label="Reply">
            <div class="flex-container flex-end">
                <button class="secondary-button" (click)="onCancelReply()">
                    Cancel
                </button>
                <button class="secondary-button">
                    Reply
                </button>
            </div>
        </div>
        <div class="comment left-padding" *ngFor="let reply of comment.replies">
            <div class="flex-container">
                <span class="secondary-text font-weight-semibold">{{reply.username}}</span>
                <span class="secondary-text font-weight-normal">{{reply.date}}</span>
            </div>
            <p>{{reply.message}}</p>
        </div>
    </ng-container>
    <ng-template #commentData>
        <div class="comment">
            <input type="text" placeholder="Add a comment..." class="text-input" aria-label="Comment">
            <div class="flex-container flex-end">
                <button class="secondary-button" (click)="cancelCreate.emit()">
                    Cancel
                </button>
                <button class="secondary-button">
                    Send
                </button>
            </div>
        </div>
    </ng-template>
</div>