@use '../shared/styles/variables' as *;
@use '../shared/styles/colors' as *;
@use '../shared/styles/mixins' as *;

:host {
    flex: 1 1 auto;
    overflow: auto;
    scroll-behavior: smooth;
}

.nav-bar {
    box-sizing: border-box;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;

    padding: .25rem 1.5rem;
    gap: .5rem;
    align-items: center;

    background-color: $black-color-500;
    box-shadow: 4px 4px 4px rgba($black-color-500, 20%);
    color: $white-color-500;

    a {
        padding: .5rem;
        border-radius: 100rem;
        transition: $color-transition,
            $scale-transition,
            $outline-transition;

        @include scale-click();
        @include color-click($primary-color-500, $primary-color-600);
        @include outline-focus($white-color-500);
    }

    .icon-link {
        width: 2rem;
        height: 2rem;
    }
}


.user-profile-page {
    display: flex;

    .user-profile-container {
        @include card(1rem, 2rem);
        margin: 2rem;
        flex-grow: 1;
    }

    .comments-drawer {
        max-width: 32rem;
        width: 33vw;
        min-width: 12rem;
        flex-shrink: 0;

        .drawer-header {
            margin: 1rem 1.5rem;
        }

        .comment-section {

            .section-header {
                margin: 1rem 1.5rem .5rem 1.5rem;
            }

            .comment-card-list {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin: .5rem 1rem;

                .comment-card {
                    @include card(.5rem, 1rem);
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    &.focus {
                        border: solid 3px #3b83f6;
                    }

                    .comment {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                    }
                }

            }

        }

    }
}