<nav>
    <a routerLink="/portfolio" class="section-title inline-icon">
        <span class="material-symbols-outlined">
            arrow_back_ios_new
        </span>
        <span>
            Go Back
        </span>
    </a>

    <a [href]="githubUrl" target="_blank">
        <img src="../../assets/github-icon.svg" alt="GitHub Icon" width="30" height="30"/>
    </a>

    <a [href]="linkedinUrl" target="_blank">
        <img src="../../assets/linkedin-icon.svg" alt="LinkedIn Icon" width="30" height="30"/>
    </a>
</nav>

<div>
    <aside>
        <h2>Comments</h2>
    </aside>
    <main>
        <div>
            <h2>User Profile</h2>
        </div>
    </main>
</div>