<app-drawer class="comments-drawer-var" [behavior]="isReducedLayout? isMobileLayout? 'fullscreen' : 'overlay' : 'push'" [position]="'right'" [isOpen]="isCommentOpen" [ariaLabelledby]="'comment-header'" (toggle)="isCommentOpen = $event">
    <main main-content class="user-profile-container" aria-labelledby="main-title">
        <header class="flex-container">
            <h1 id="main-title">User Profile</h1>
            <button class="primary-button inline-icon" (click)="isCommentOpen = !isCommentOpen">
                <span>
                    Edit
                </span>
                <span class="material-symbols-outlined">
                    edit
                </span>
            </button>
        </header>
    </main>
    <div drawer-content class="comments-drawer" tabIndex="-1">
        <h1 class="drawer-header flex-container flex-space-between">
            <span id="comment-header">
                Comments
            </span>
            <button class="material-symbols-outlined tertiary-button" aria-label="Close Drawer" (click)="isCommentOpen = !isCommentOpen">
                close
            </button>
        </h1>
        <app-comment-section *ngFor="let commentSection of commentSections" [title]="commentSection.title" [comments]="commentSection.comments">
        </app-comment-section>
    </div>
</app-drawer>