$primary-color-900: #1d417a;
$primary-color-800: #2655a0;
$primary-color-700: #2c62b9;
$primary-color-600: #3576dd;
$primary-color-500: #3b83f6;
$primary-color-400: #5896f7;
$primary-color-300: #76a9f9;
$primary-color-200: #9dc1fa;
$primary-color-100: #c5dafc;

$white-color-900: #7c7c7d;
$white-color-800: #a2a3a4;
$white-color-700: #bbbcbc;
$white-color-600: #e0e1e2;
$white-color-500: #f9fafb;

$black-color-500: #111827;
$black-color-400: #343a47;
$black-color-300: #595e68;
$black-color-200: #888c93;
$black-color-100: #b8babf;

$error-color-900: #b00020;
$error-color-800: #c2185b;
$error-color-700: #d81b60;
$error-color-600: #e91e63;
$error-color-500: #f44336;
$error-color-400: #f6685e;
$error-color-300: #f88a8a;
$error-color-200: #fbbbc0;
$error-color-100: #fdd4d8;