<div class="main"
    [class.drawer-open]="isOpen"
    [ngClass]="[position, behavior]"
    [attr.aria-hidden]="disableMain()? true : null"
    [attr.inert]="disableMain()? true : null"
    [attr.tabindex]="disableMain() ? null : -1">
    <ng-content select="[main-content]"></ng-content>
</div>
<div class="drawer drawer-shadow"
    [class.drawer-open]="isOpen"
    [ngClass]="[position, behavior]"
    aria-hidden="true"
    inert="true"
    tabindex="-1">
</div>
<div class="overlay-box"
    [class.active]="isOpen"
    [ngClass]="behavior"
    aria-hidden="true"
    tabindex="-1"
    (click)="toggleDrawer(false)">
</div>
<div class="drawer"
    [class.drawer-open]="isOpen"
    [ngClass]="[position, behavior]"
    [attr.aria-hidden]="!isOpen? true : null"
    [attr.inert]="!isOpen? true : null"
    [attr.tabindex]="!isOpen ? null : -1">
    <ng-content select="[drawer-content]"></ng-content>
</div>
