<app-drawer class="advanced-search-drawer" main-content [isOpen]="isDrawerOpen[1]" [position]="'left'" [behavior]="'push'" [ariaLabelledby]="'drawer-title'">
    <div drawer-content class="box">
        <h3 id="drawer-title">Advanced Search Menu</h3>
        <button class="secondary-button">Test Button</button>
    </div>
    <div main-content class="box">
        <h1>Main</h1>
        <button class="primary-button" (click)="toggleDrawer(!isDrawerOpen[1], 1)">Advanced Search</button>
    </div>
</app-drawer>