@use 'app/shared/styles/variables' as *;
@use 'app/shared/styles/colors' as *;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

// Text and Typography

h1,
.page-title {
    font-size: 2rem;
    font-weight: 700;
}

h2,
.section-title {
    font-size: 1.5rem;
    font-weight: 600;
}

h3,
.subtitle {
    font-size: 1.25rem;
    font-weight: 600;
}

h1,
h2,
h3,
.page-title,
.section-title,
.subtitle {
    font-family: 'Poppins', sans-serif;
    color: inherit;
    margin: 0;
}

label, .label-text {
    font-size: .75rem;
    font-weight: 500;
}

p .p-text {
    font-size: 1rem;
    line-height: 1.5;
}

label,
p,
.label-text,
.p-text {
    font-family: 'Inter', sans-serif;
    color: inherit;
    font-weight: 400;
    margin: 0;
}

// Buttons and Inputs

button {
    padding: unset;
    margin: unset;
    border: unset;
    outline: unset;
    background: unset;

    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;


    cursor: pointer;
    border-radius: 100rem;
    will-change: transform;
}

a {
    text-decoration: none;
    color: inherit;
}

.special-button {}

.primary-button {
    @extend p;
    font-weight: 700;
    color: $white-color-500;

    padding: .5rem 1rem;
    background-color: $primary-color-500;

    transition: background-color 0.3s ease-in-out,
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.05);
        background-color: $primary-color-600;
    }

    &:active {
        transform: scale(0.95);
        background-color: $primary-color-700;
    }
}

.secondary-button {
    @extend p;
    font-weight: 700;
    color: $black-color-500;

    padding: .5rem 1rem;

    transition: background-color 0.3s ease-in-out,
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.05);
        background-color: rgba($black-color-500, 0.1);
    }

    &:active {
        transform: scale(0.95);
        background-color: rgba($black-color-500, 0.2);
    }
}

.tertiary-button {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.95);
    }
}

input {
    background-color: unset;
    outline: unset;
    border: unset;
    margin: unset;
    padding: unset;
}

textarea {}

.search-input {}

.default-input {
    @extend p;
    padding: .5rem .75rem;
    border: solid 1px $black-color-500;
    color: $black-color-500;
    border-radius: .5rem;

    &::placeholder {
        color: $black-color-100;
    }
}

// Cards and Containers

.card-container {}

.split-input-container {}

.inline-icon {
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

.material-symbols-outlined {
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
    line-height: inherit;
}