
<div #card [commentElement]="'comment'" [elementId]="comment.id" class="comment-card" tabIndex="-1">
    <ng-container *ngIf="!comment.isNew; else newComment">
        <div class="comment">
            <div class="flex-container">
                <span class="secondary-text font-weight-semibold">{{comment.username}}</span>
                <span class="secondary-text font-weight-normal">{{comment.date | relativeTime}}</span>
            </div>
            <p>{{comment.message}}</p>
            <div class="flex-container">
                <button #replyButton *ngIf="!showReply" class="secondary-button inline-icon" (click)="toggleReplyInput(true)">
                    <span class="material-symbols-outlined">
                        reply
                    </span>
                    <span>
                        Reply
                    </span>
                </button>
            </div>
        </div>
        <div class="comment left-padding" *ngIf="showReply">
            <input #replyInput type="text" [(ngModel)]="message" placeholder="Reply to comment..." class="text-input" aria-label="Reply" (keydown.enter)="onReply()">
            <div class="flex-container flex-end">
                <button class="secondary-button" (click)="toggleReplyInput(false)">
                    Cancel
                </button>
                <button class="secondary-button" (click)="onReply()">
                    Reply
                </button>
            </div>
        </div>
        <div class="comment left-padding" *ngFor="let reply of comment.replies">
            <div class="flex-container">
                <span class="secondary-text font-weight-semibold">{{reply.username}}</span>
                <span class="secondary-text font-weight-normal">{{reply.date | relativeTime}}</span>
            </div>
            <p>{{reply.message}}</p>
        </div>
    </ng-container>
    <ng-template #newComment>
        <div class="comment">
            <input type="text" [(ngModel)]="message" placeholder="Add a comment..." class="text-input" aria-label="Comment" (keydown.enter)="onSend()">
            <div class="flex-container flex-end">
                <button class="secondary-button" (click)="onCancel()">
                    Cancel
                </button>
                <button class="secondary-button" (click)="onSend()">
                    Send
                </button>
            </div>
        </div>
    </ng-template>
</div>